<div class="view home-view ">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
            <div class="container text-center white-text">
                <div class="white-text text-center wow fadeInUp">
                   <!-- Title -->
                    <h1 class="card-title h3 my-4"><strong>Avishkar Decorators</strong></h1>
                    <!-- Text -->
                    <p class="card-text py-2">Celebrate every moment in you life with avishkar decorators. Make clebration big and grand. Come Join Explore us.</p>
                    <p class="card-text py-2">Just sit and relax at your home and order all your decoration needs.</p>
                    <p class="card-text py-2">What else, 24*7 service easy refund, security</p>

                    <!-- Button -->
                    <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" mdbWavesEffect>Button</a>
  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jumbotron -->
<div class="jumbotron p-0">
    <!-- Card content -->
    <div class="card-body text-center mb-3">
    
        <!-- Title -->
        <h3 class="card-title h3 my-4"><strong>Marriages Made in heaven Decorated by us.</strong></h3>
        <!-- Text -->
        <p class="card-text py-2">Marriages Made in heaven Decorated by us.</p>
        <!-- Button -->
        <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" mdbWavesEffect>Order Today</a>

    </div>
    <!-- Card image -->
    <div class="view overlay rounded-top waves-light" mdbWavesEffect>
      <img src="assets/ocean_image.jpg" class="img-fluid" style="width: 100%" alt="Sample image">
      <a >
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body text-center mb-3">
  
      <!-- Title -->
      <h3 class="card-title h3 my-4"><strong>Marriages Made in heaven Decorated by us.</strong></h3>
      <!-- Text -->
      <p class="card-text py-2">Marriages Made in heaven Decorated by us.</p>
      <!-- Button -->
      <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" mdbWavesEffect>Order Today</a>
  
    </div>
  
  </div>
  <!-- Jumbotron -->